*.class
*.d
*.exe
*.jar
*.o
*.suo
*.user
*.bak
*.exp
*.lib
/source/javaclient/nbproject/private/
/source/csharpclient/client/bin
/source/csharpclient/client/obj
/samples/Java/nbproject/private/
/source/javaclient/build/
/source/csharpclient/client/bin
/source/csharpclient/client/obj
/source/csharpclient/activex/bin
/source/csharpclient/activex/obj
/samples/Java/build/
/samples/Java/dist/
/samples/CSharp/IBSampleApp/bin
/samples/CSharp/IBSampleApp/obj
/samples/CSharp/Testbed/bin
/samples/CSharp/Testbed/obj
/samples/VB/VB_API_Sample/bin
/samples/VB/VB_API_Sample/obj
/samples/VB/Testbed/bin
/samples/VB/Testbed/obj
/tests/OrderConditionsParsingTestProject/bin
/tests/OrderConditionsParsingTestProject/obj
/tests/TWSLibTestProject/bin
/tests/TWSLibTestProject/obj
/bin/
.idea
__pycache__

.vs/
/samples/Excel/TwsActiveX/TickerForm.frx
/samples/Excel/TwsActiveX/ScrollableMsgBox.frx
/samples/Excel/TwsActiveX/ParamsForm.frx
/samples/Excel/TwsActiveX/ComboLegForm.frx
/samples/Excel/80F45F30
